body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input {
  appearance: none;
  width: 100%;
  height: 20px;
  background: #1f2c49;
  border-radius: 22px;
  overflow: visible;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.col-custom {
  margin: 10px;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* From https://css.glass */
  background: rgba(83, 58, 139, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.9px);
  -webkit-backdrop-filter: blur(7.9px);
  border: 1px solid rgba(83, 58, 139, 0.39);
}

.title {
  font-size: smaller;
}

.info {
  font-weight: bold;
  font-size: 20px;
}

